$kpi_status_color_green: #1AC19D;
$kpi_status_color_yellow: #FFC700;
$kpi_status_color_red: #FF0000;
$kpi_status_color_blue: #0D66EB;
$kpi_status_color_black: #1A2024;
$kpi_status_color_grey: #E5E9EB;